
  <h2 id="month">
    
    <%= link_to "<i class='glyphicon glyphicon-arrow-left'></i>".html_safe, 
                     {:month => (@date.beginning_of_month-1).strftime("%Y-%m-%d")},
                     {:title => t('calendar_title.previous_month') } %>
    <% trans_month = @date.strftime("%B")%>
    <%=h( t('month.'+@date.strftime("%B")) + ' ' + @date.strftime("%Y")) %>
    <%= link_to "<i class='glyphicon glyphicon-arrow-right'></i>".html_safe,
                      {:month => (@date.end_of_month+1).strftime("%Y-%m-%d")}, 
                      {:title => t('calendar_title.next_month')} %>

    

  </h2>
  <div class = "buttons">
    <%= link_to "<i class='glyphicon glyphicon-plus white-icon'></i>
                #{t('calendar_title.create_server')}".html_safe,
                new_server_path,
                :class => 'btn btn-success',
                :type => 'button',
                :icon => 'icon-plus',
                :title => t('calendar_title.create_server'),
    %>

    <%= link_to "<i class='glyphicon glyphicon-refresh white-icon'></i>
                #{t('calendar_title.update_connections')}".html_safe,
                update_connections_servers_path(@server),
                :class => 'btn btn-info col-md-offset-3',
                :type => 'button',
                :title => t('calendar_title.update_server')
    %>

    <%= link_to "<i class='glyphicon glyphicon-wrench white-icon'></i>
                #{t('calendar_title.edit_server')}".html_safe,
                edit_server_path(@server),
                :class => 'btn btn-warning col-md-offset-3',
                :type => 'button',
                :title => t('calendar_title.edit_server')
    %>
  </div>