<div id="calendar">

  <%= render 'calendars/month' %>

  <div id="not_calendar">
  </div>
  <%= calendar_for @connections, :year => @date.year, :month => @date.month, 
                                 :html =>{:class=>'table table-hover'}, 
                                 :first_day_of_week => 1  do |calendar| %>
    <%= calendar.head(t('week_day.Monday'),t('week_day.Tuesday'),t('week_day.Wednesday'),t('week_day.Thursday'),
                      t('week_day.Friday'), t('week_day.Saturday'), t('week_day.Sunday'),) %>
    <%= calendar.day(:day_method => :start_time, :id => '%Y-%m-%d',:td_options=> {
                    :"data-link" => @server ? server_day_path(@server) : day_path, 
                    :class => 'link'} ) do |date, connections| %>
      <%= date.day %> 
    <% end %>
  <% end %>
</div>