<% title t('calendar'), :show_title => false %>

<div id="calendar">
  <h2 id="month">
    <%= link_to t('calendar_title.create_server'),
                new_server_path,
                :class => 'btn btn-warning',
                :type => 'button',
                :icon => 'icon-plus',
                :title => t('calendar_title.create_server'),
    %>
    <%= link_to "<", {:month => (@date.beginning_of_month-1).strftime("%Y-%m-%d")},
                     {:title => t('calendar_title.previous_month'),
                      :class => 'col-md-offset-1' } %>
    <% trans_month = @date.strftime("%B")%>
    <%=h( t('month.'+@date.strftime("%B")) + ' ' + @date.strftime("%Y")) %>
    <%= link_to ">",  {:month => (@date.end_of_month+1).strftime("%Y-%m-%d")}, 
                      {:title => t('calendar_title.next_month')} %>
    <%= link_to t('calendar_title.edit_server'),
                new_server_path,
                :class => 'btn btn-warning col-md-offset-1',
                :type => 'button',
                :icon => 'icon-plus',
                :title => t('calendar_title.edit_server'),
    %>
  </h2>
  <div id="not_calendar">
  </div>
  <%= calendar_for @connections, :year => @date.year, :month => @date.month, 
                                 :html =>{:class=>'table table-hover col-md-offset-1'}, 
                                 :first_day_of_week => 1  do |calendar| %>
    <%= calendar.head(t('week_day.Monday'),t('week_day.Tuesday'),t('week_day.Wednesday'),t('week_day.Thursday'),
                      t('week_day.Friday'), t('week_day.Saturday'), t('week_day.Sunday'),) %>
    <%= calendar.day(:day_method => :start_time) do |date, connections| %>
      <%= date.day %>
    <% end %>
  <% end %>
</div>
