<% title t('calendar'), :show_title => false %>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <% trans_month = @date.strftime("%B")%>
    <%=h( t('month.'+@date.strftime("%B")) + ' ' + @date.strftime("%Y"))%>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>
  <%= calendar_for @connections, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.day(:day_method => :start_time) do |date, connections| %>
      <%= date.day %>
    <% end %>
  <% end %>
</div>
